* {
    margin: 0px;
    padding: 0px;
    font-style: Regular 400;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    width: 100vw;
    margin: 30px 0px;
    justify-content: center;
    overflow: hidden;
}
.container .child-container{
    width: 100px;
    height: 90vh;
    margin: 0px 20px;
    border-radius: 50PX;
    transition: all 1s ease-in-out;
position: relative;
}

.container #one{
    width: 60%;
}
#first{
    display: block;
}
.container .child-container img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.container .child-container h1 {
    color: white;
    position: absolute;
    bottom: 20px;
    display: none;
    left: 30px;

}
.container .increase{
    width: 100%;
    overflow: hidden;
}

.container #one {
    background: url('/img/1.png');
    background-size: cover;
    background-repeat: no-repeat;
     width: 900px;
}
.container .two {
    background: url('/img/2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.container .three {
    background: url('/img/3.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.container .four{
    background: url('/img/4 .png');
    background-size: cover;
    background-repeat: no-repeat;
}
.container .five {
    background: url('/img/5.png');

    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:545px) {
 
    .container{
        display: flex;
        
    }
    .container .child-container{
        margin: 0px 5px;
    }
    .container .four,.container .five{
        display: none;
    }
}
